# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore
.env

# Node.js dependencies:
node_modules/

mosalapro-34-firebase-adminsdk-fbsvc-ad6964edf8.json

app.yaml

package-lock.json
mosalapro-34-firebase-adminsdk-fbsvc-ad6964edf8.json
CHAT_SUPPORT_USAGE.md
CHAT_WIDGET_IMPLEMENTATION.md
RAG_IMPLEMENTATION_SUMMARY.md
QUICKSTART_RAG.md
RAG_SETUP_README.md
DEPLOY_RAG_GCLOUD.md
GCLOUD_QUICK_REFERENCE.md
DEPLOYMENT_SUMMARY.md
LLAMA_QUICK_FIXES.md
LLAMA_PERFORMANCE_OPTIMIZATION.md
PAYMENT_IMPLEMENTATION_SUMMARY.md
PAYMENT_SERVICE_SETUP.md
PAYMENT_UI_INTEGRATION.md